__pycache__
.ipynb_checkpoints
.idea
data/
demo/
models/*.pth
*.pt
*.pth
*.tar
output/
*.pyc
eval/cache/
*.png
*.jpg
*.jpeg
*.bmp
*.npy
paper/*.pdf
python/xfr/models/XFace/__pycache__/
python/xfr/models/XFace/vis_paper/__pychache__/